header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 16px;
  #menu {
    display: none;
  }
  label {
    font-size: 18px;
    cursor: pointer;
  }
  ul {
    width: 100%;
    height: 224px;
    position: absolute;
    right: 0px;
    top: 43px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    list-style: none;
    background: #0000ec;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 28px;
    display: none;
    & :hover {
      color: #00f3bb;
      text-decoration: line-through;
    }
    li {
      padding-left: 17px;
      font-family: "IBM Plex Mono", monospace;
      font-size: 16px;
      color: #060a24;
      letter-spacing: 0;
      line-height: 28px;
      text-decoration: none;
      a {
        text-decoration: none;
        color: #060a24;
        &:active {
          color: rgba(6, 10, 36, 0.56);
        }
      }
    }
  }
  #menu:checked ~ ul {
    display: flex;
  }
}
