#guests {
  margin-top: 54px;
    h2 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 2em;
      color: #060a24;
      letter-spacing: 0;
      line-height: 42px;
      margin: 0 0 14px 16px;
    }
    .photos {
      img {
        width: 100%;
        display: block;
      }
    }
  }